form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.logo{
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;  
        margin-top: 50px;  
} 
/* body{
    background-image: url("./images/pexels-pixabay-159618.jpg");
    background-size: cover;
    
} */
.demo-wrap {
    overflow: hidden;
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
}

.demo-content {
    position: relative;
}
.indexbuttons{
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    font-weight:bold;
    font-size: 20px;
    
    opacity: 0.9;
    background-color: purple;
        color: aliceblue;
        border: 3px solid #520852;
  
    cursor: pointer;
    box-shadow: 0 8px 16px 0 #520852, 0 6px 20px 0 #520852;     
}
.indexbuttons:hover{
background-color: rgb(255, 255, 255);
    color: #520852;
    border: 3px solid #520852;
    transition: all ease .6s;    
}
@media screen and (max-width: 425px){
    form{
        flex-direction: column;
    }
}