<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/stigma.css') }}"
    />
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>SparkEd</h2>
            </div>
            <div class="search">
                <input type="text" id="search" placeholder="search">
                <label for="search"> <i class="fa fa-search"></i></label>
            </div>
            <i class="fa fa-bell"></i>
            <div class="user">
                <img src="../static/undraw.svg" alt="">
            </div>
            <div class="dashboard-icon">
                <i class="fas fa-th-large"></i>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li class="dashboard-item">
                    <a href="/">
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('loginevent')}}">
                        <i class="fas fa-user-graduate"></i>
                        <div>Registered Event</div>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('incharge')}}">
                        <i class="fa fa-users"></i>
                        <div>Incharge</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <div>Settings</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-question"></i>
                        <div>Help</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">1217</div>
                        <div class="card-name">Contacts</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">48</div>
                        <div class="card-name">Participants</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">20</div>
                        <div class="card-name">Mentors</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">₹500</div>
                        <div class="card-name">Amount</div>
                    </div>
                    <!-- <div class="icon-box">
                        <i class="fas fa-dollar-sign"></i>
                    </div> -->
                </div>
            </div>
            <div class="charts">
                <div class="chart">
                    <h2>Events Registered (in past 6 months)</h2>
                    <canvas id="LineChart"></canvas>
                </div>
                <div class="chart" id="doughnut-chart">
                    <h2>Students Participation</h2>
                    <canvas id="chartId"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/chart1.js"></script>
    <script src="../static/chart2.js"></script>
    <script src="../static/dash.js"></script>
</body>
</html>