<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incharge Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/s_dash.css') }}"
    />
</head>
<body>
    <div class="container">
        <h1>Incharge Interface</h1>
        <div class="grid">
            <div class="card fadeIn">
                <h2>Students</h2>
                <p>View and manage student records, including enrollment, attendance, and performance.</p>
            </div>
            <div class="card fadeIn">
                <h2>Courses</h2>
                <p>Manage course offerings, curriculum updates, and assignments for student classes.</p>
            </div>
            <div class="card fadeIn">
                <h2>Events</h2>
                <p>Organize and schedule events, meetings, and activities for students and staff.</p>
            </div>
            <form action="{{url_for('incharge_dashboard')}}">
                <div class="card fadeIn">
                    <h2><a style="text-decoration: none; color: black;" href="{{url_for('incharge_dashboard')}}">Reports</a></h2>
                    <p>Generate and analyze reports on student performance, attendance, and academic progress.</p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>