<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}" />
    <title>signin-signup</title>
</head>
<body>
    <div class="container">
        <div class="signin-signup">
            <form action="{{url_for('login')}}" method="get" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <!-- <div class="toggle-form">
                    <input type="radio" id="host-toggle" name="toggle" class="host-toggle" checked>
                    <label for="host-toggle" class="bttnn">Host</label>
                    <input type="radio" id="student-toggle" name="toggle" class="student-toggle">
                    <label for="student-toggle" class="bttnn">Student</label>
                    <div class="slider"></div>
                </div> -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
            <form action="{{url_for('register')}}" method="post" class="sign-up-form">
                <h2 class="title">Sign up</h2>
                <!-- <div class="toggle-form">
                    <input type="radio" id="host-toggle" name="toggle" class="host-toggle" checked>
                    <label for="host-toggle" class="bttnn">Host</label>
                    <input type="radio" id="student-toggle" name="toggle" class="student-toggle">
                    <label for="student-toggle" class="bttnn">Student</label>
                    <div class="slider"></div>
                </div> -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input type="submit" value="Sign up" class="btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>

                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Already Registered</h3>
                    <p>Enter Your details to login into your account.</p>
                    <button class="btn" id="sign-in-btn" href="{{url_for('hostaevent')}}">Sign in</button>
                </div>
                <!-- <img src="../static/undraw1.svg" alt="" class="image"> -->
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>New User?</h3>
                    <p>Hello Authoritarians of the college please enter your information to get Start with it</p>
                    <button class="btn" id="sign-up-btn" href="{{url_for('hostaevent')}}">Sign up</button>
                </div>
                <!-- <img src="../static/undraw.svg" alt="" class="image"> -->
            </div>
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>

</html>